<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SlimJWTAuth">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="SetupTearDownListener" file="./tests/setupTearDownListener.php"></listener>
    </listeners>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
