{% include "includes/oacc-ascii.twig" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_tag %}Slim Auth:{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css"/>
    {% endblock %}
</head>
<body class="sans-serif bg-yellow">
<div class="page-wrapper pa4">
    <nav class="container pv1">
        {% if(roles is not defined) %}
            {% block nav %}
                <a href="{{ path_for('login') }}" class="link b f6 mb2 mr2 black hover-blue">Login</a>
                <a href="{{ path_for('register') }}" class="link b f6 mb2 mr2 black hover-blue">Register</a>
            {% endblock %}
        {% else %}
            <a href="{{ path_for('logout') }}" class="link b f6 mb2 mr2 black hover-blue">Logout</a>
        {% endif %}
    </nav>
    <section class="mw5 mw7-ns center pa3 ph5-ns">
        {% block content %}
        {% endblock %}
    </section>
</div>
{% block javascripts %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
<div class="logo" style="position: fixed; bottom: 30px; right:30px;">
    <a href="https://orderandchaoscreative.com">
        <img src="img/oacc-logo-web.opt.svg" style="width: 180px; height: auto;">
    </a>
</div>
</body>
</html>
