<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_tag %}Drone Squadron:{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ base_url() }}/css/styles.css" media="all">
    {% endblock %}
</head>
<body>
{% block nav %}
    <a href="{{ path_for('login') }}">Login</a>
    <a href="{{ path_for('register') }}">Register</a>
{% endblock %}
{% block content %}
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}
</body>
</html>