{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Menu
{% endblock %}

{% block content %}
    <div class="holder">
        <h1 class="title">Register</h1>
        <form action="" method="post">
            <input name="name" title="Full Name">
            <input name="username" title="Username">
            <input name="email" title="Email Address">
            <input name="password" type="password" title="Password">
            <input name="password-confirm" type="password" title="Confirm Password">
            <input name="submit" type="submit" class="button">
        </form>
    </div>
{% endblock %}